In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-12-08 22:26:13,-23.12,-134.97,76.68,78,0,16.06
1,1,Ribeira Grande,PT,2020-12-08 22:26:13,38.52,-28.70,62.60,77,40,13.87
2,2,Cherskiy,RU,2020-12-08 22:26:13,68.75,161.30,-12.86,89,100,7.00
3,3,Calama,CL,2020-12-08 22:26:13,-22.47,-68.93,73.40,11,0,24.16
4,4,Ilulissat,GL,2020-12-08 22:26:13,69.22,-51.10,23.00,49,100,6.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-12-08 22:26:13,-23.12,-134.97,76.68,78,0,16.06
5,5,Faanui,PF,2020-12-08 22:26:14,-16.48,-151.75,79.34,78,100,20.60
14,14,Puerto Ayora,EC,2020-12-08 22:26:14,-0.74,-90.35,77.00,78,75,16.11
17,17,Yambio,SS,2020-12-08 22:26:15,4.57,28.40,75.18,68,95,3.29
18,18,Atuona,PF,2020-12-08 22:26:15,-9.80,-139.03,78.60,73,1,12.15
20,20,Kahului,US,2020-12-08 22:24:21,20.89,-156.47,84.20,51,40,19.46
26,26,Sao Miguel Do Araguaia,BR,2020-12-08 22:26:15,-13.28,-50.16,84.02,53,80,5.01
32,32,Souillac,MU,2020-12-08 22:26:16,-20.52,57.52,77.00,78,75,11.41
37,37,Yulara,AU,2020-12-08 22:26:16,-25.24,130.99,78.80,16,100,12.75
38,38,San Cristobal,VE,2020-12-08 22:26:17,7.77,-72.22,82.40,78,75,9.17

In [11]:
preferred_cities_df.count()

City_ID       167
City          167
Country       167
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [12]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp    Lat     Lng Hotel Name
0                  Rikitea      PF     76.68 -23.12 -134.97
5                   Faanui      PF     79.34 -16.48 -151.75
14            Puerto Ayora      EC     77.00  -0.74  -90.35
17                  Yambio      SS     75.18   4.57   28.40
18                  Atuona      PF     78.60  -9.80 -139.03
20                 Kahului      US     84.20  20.89 -156.47
26  Sao Miguel Do Araguaia      BR     84.02 -13.28  -50.16
32                Souillac      MU     77.00 -20.52   57.52
37                  Yulara      AU     78.80 -25.24  130.99
38           San Cristobal      VE     82.40   7.77  -72.22

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,76.68,-23.12,-134.97,Pension Maro'i
5,Faanui,PF,79.34,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
14,Puerto Ayora,EC,77.00,-0.74,-90.35,Finch Bay Galapagos Hotel
17,Yambio,SS,75.18,4.57,28.40,Kabash Inn
18,Atuona,PF,78.60,-9.80,-139.03,Villa Enata
20,Kahului,US,84.20,20.89,-156.47,Maui Seaside Hotel
26,Sao Miguel Do Araguaia,BR,84.02,-13.28,-50.16,Hotel Executivo Palace
32,Souillac,MU,77.00,-20.52,57.52,Bils' Villa
37,Yulara,AU,78.80,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
38,San Cristobal,VE,82.40,7.77,-72.22,Pirineos

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))